.recharts-legend-item.active {
  fill: #ff6b6b; /* Color for active (visible) legend items */
}

.recharts-legend-item.inactive {
  fill: #ff6b6b; /* Color for inactive (hidden) legend items */
}

.custom-tooltip {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff6b6b;
}

.custom-tooltip p {
  margin: 0px;
  font-size: 15px;
}
