.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid pink;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0 4px 12px #ff6b6b;
}

.form h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form p {
  margin-bottom: 15px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"],
.form input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 5px;
}

.form input[type="checkbox"] {
  width: auto;
}

.form button {
  display: block;
  height: 100%;
  width: 100%;
  padding: 2px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: pink;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 20px;
}

.form button:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customLink {
  font-size: small;
  color: #febf78;
}
